$grid-gap: 2rem;

//COLORS
$color-orange: #EC7205;
$color-turquoise: #068FCE;
$color-light-blue: #49C5FF;
$color-olive: #6AB530;
$color-gold: #E2CB07;
$color-green: #0D9241;
$color-grey-1: #dfe6e9;
$color-grey-2: #b2bec3;
$color-grey-3: #636e72;
